<header class="header">
  <div class="header__container container">
    <a routerLink="/vacancies" class="fs-xl fw-bold clr-gray-800">HeadHunter</a>

    <nav class="header__menu">
      <ul>
        <li>
          <a
            routerLink="/login"
            class=" header__link"
            routerLinkActive="header__link--active"
          >
            Войти
          </a>
        </li>

        <li>
          <a
            routerLink="/register"
            class="btn btn--size--md btn--ghost header__link"
            routerLinkActive="header__link--active"
          >
            Зарегистрироваться
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
