@import "../../../../src/styles/variables";
@import "../../../../src/styles/utility/blocks";


.header {
  padding: 20px 0;
  box-shadow: $shadow-md;

  &__container {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: auto;

  }

  &__link {
    @extend .btn;
    @extend .btn--size--md;
    @extend .btn--ghost;

    &--active {
      background: $color-blue-200-opacity;
    }
  }

  ul {
    display: flex;
    gap: 5px;
  }
}
