<header class="header">
  <div class="header__container container">
    <a routerLink="/vacancies" class="fs-xl fw-bold clr-gray-800">HeadHunter</a>

    <nav class="header__menu">
      <ul>
        <li *ngFor="let link of headerLinks">
          <a
            [routerLink]="link.link"
            class=" header__link"
            routerLinkActive="header__link--active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            {{ link.title }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
