@import "../../../../src/styles/variables";


.header {
  //background: $color-gray-opacity;
  padding: 20px 0;
  box-shadow: $shadow-md;

  &__container {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: auto;

  }

  ul {
    display: flex;
    gap: 5px;
  }
}
