@import "../variables";

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.input {
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  padding: 7px 20px;
  transition: all 300ms;
  background: white;

  font-size: $fs-md;
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);

  &--color {
    &--gray {
      background: $color-gray-opacity;

      &:focus {
        border-color: $color-gray;
      }

      &::placeholder {
        color: $color-gray-800;
      }

    }
  }

  &--fullwidth {
    width: 100%;
    max-width: unset;
  }
}


@mixin buttonFilled($bg-color, $hover-color: $bg-color) {
  background-color: $bg-color;
  border: 1px solid $bg-color;
  color: white;
  &:hover {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}

@mixin buttonOutlined($color, $bg-color: $color, $border-color: $color) {
  color: $color;
  border: 1px solid $border-color;

  &:hover {
    color: white;
    background-color: $bg-color;
  }
}

@mixin buttonGhost($color, $hover-bg-color) {
  color: $color;
  background: transparent;

  &:hover {
    background: $hover-bg-color;
  }
}

.btn {
  cursor: pointer;
  border: none;
  transition: all 300ms;
  background: transparent;
  border-radius: 10px;

  &--fill {
    @include buttonFilled($color-blue-400, $color-blue-600);

    &--green {
      @include buttonFilled($color-green-400, $color-green-800);
    }

    &--yellow {
      @include buttonFilled($color-yellow-400, $color-yellow-800);
    }

    &--blue {
      @include buttonFilled($color-blue-400, $color-blue-600);
    }
  }

  &--outline {
    @include buttonOutlined($color-blue-400);

    &--green {
      @include buttonOutlined($color-green-400);
    }

    &--yellow {
      @include buttonOutlined($color-yellow-800);
    }

    &--blue {
      @include buttonOutlined($color-blue-400);
    }
  }

  &--size {
    &--lg {
      padding: 15px 30px;
      font-size: $fs-lg;
    }

    &--md {
      padding: 10px 20px;
      font-size: $fs-md;
    }

    &--sm {
      padding: 7px 15px;
      font-size: $fs-sm;
    }
  }

  &--ghost {
    @include buttonGhost($color-blue-400, $color-blue-200-opacity);

    &--green {
      @include buttonGhost($color-green-600, $color-green-200);
    }

    &--yellow {
      @include buttonGhost($color-yellow-600, $color-yellow-200);
    }

    &--blue {
      @include buttonGhost($color-blue-400, $color-blue-200-opacity);
    }
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;
  }
}
