@import "../variables";


// font-size
.fs-xs {
  font-size: $fs-xs;
}

.fs-sm {
  font-size: $fs-sm;
}

.fs-md {
  font-size: $fs-md;
}

.fs-lg {
  font-size: $fs-lg;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-2xl {
  font-size: $fs-2xl;
}

.fs-3xl {
  font-size: $fs-3xl;
}

.fs-4xl {
  font-size: $fs-4xl;
}

.fs-5xl {
  font-size: $fs-5xl;
}

.fs-6xl {
  font-size: $fs-6xl;
}

// font-size end

// font-weight
.fw-regular {
  font-weight: $fw-regular;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-semibold {
  font-weight: $fw-semibold;
}

// font-weight end

// colors
.clr-gray {
  color: $color-gray;
}

.clr-gray-800 {
  color: $color-gray-800;
}

.clr-gray-opacity {
  color: $color-gray-opacity;
}

.clr-black {
  color: $color-black;
}

.clr-green {
  color: $color-green;
}

.clr-green-800 {
  color: $color-green-800;
}

.clr-green-600 {
  color: $color-green-600;
}

.clr-green-400 {
  color: $color-green-400;
}

.clr-green-200 {
  color: $color-green-200;
}

.clr-yellow {
  color: $color-yellow;
}

.clr-yellow-800 {
  color: $color-yellow-800;
}

.clr-yellow-600 {
  color: $color-yellow-600;
}

.clr-yellow-400 {
  color: $color-yellow-400;
}

.clr-yellow-200 {
  color: $color-yellow-200;
}

.clr-blue {
  color: $color-blue;
}

.clr-blue-800 {
  color: $color-blue-800;
}

.clr-blue-600 {
  color: $color-blue-600;
}

.clr-blue-400 {
  color: $color-blue-400;
}

.clr-blue-200 {
  color: $color-blue-200;
}


.clr-error {
  color: $color-error-400;
}

.text-align {
  &--center {
    text-align: center;
  }
}

// colors end
