<div class="vacancy-item">
  <div class="vacancy-item__content">
    <p class="fs-xl">
      Начинающий специалист
    </p>


    <p class="fs-3xl fw-bold vacancy-item__wage">
      от 30000
    </p>

    <p class="fs-lg">
      Компания
    </p>
    <p class="fs-lg">
      Костромская область, г. Кострома
    </p>
  </div>

  <div class="vacancy-item__buttons clr-blue-800">
    <p>
      Избранное
    </p>

    <button class="btn btn--fill--green btn--size--md">
      Откликнуться
    </button>
  </div>
</div>
