@import "../../../styles/variables";

@mixin underline {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  pointer-events: none;
  transition: all 300ms;
  border-radius: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;

  &__tabs {
    display: flex;
    gap: 45px;
  }

  &__tab {
    position: relative;

    &.navigation__tab--active::before {
      width: 100%
    }

    &::after {
      @include underline;
      background: $color-gray-opacity;
      width: 100%;
    }


    &::before {
      @include underline;
      background: $color-black;
      width: 0;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

