<app-navigation>
  <div class="input-group">
    <input type="search" placeholder="Найти должность или компанию..."/>
  </div>
</app-navigation>

<section class="vacancies">
  <div class="container">
    <div class="vacancies__list">
      <ng-container *ngIf="vacancies$.getValue().length; else emptyVacancies">
        <app-vacancy-item *ngFor="let vacancy of vacancies$ | async" [vacancy]="vacancy"/>
      </ng-container>

      <ng-template #emptyVacancies>
        <p class="fs-2xl clr-black">
          Нет вакансий
        </p>
      </ng-template>
    </div>

  </div>
</section>
